@font-face {
  font-family: "cairo";
  src: url("./assets/fonts/Cairo-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cairo";
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}
/* img {
  width: 100%;
} */
.textOverFlowStyle {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 16;
  -webkit-box-orient: vertical;
}

.style-1 {
  border-bottom-left-radius: 30px;
}
.style-2 {
  border-bottom-right-radius: 30px;
}
.style-3 {
  border-top-left-radius: 30px;
}
.style-4 {
  border-top-right-radius: 30px;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 7px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #d0d0d0;
}

::-webkit-scrollbar-thumb {
  background: rgba(132, 130, 130, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: "#149D52";
}

/* footer */
.footerLink{
  display: block;
  text-transform: capitalize;
  color: white;
  margin-bottom: 14px;
}

